@model TafelFlyingServices.Models.Pilot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pilot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>