@using Mvc.RazorTools.FontAwesome
@using TafelFlyingServices.Models
@model IEnumerable<TafelFlyingServices.Models.Airport>
<div class="container-fluid">
    <ul class="list-group">
        @foreach (Airport item in Model)
        {
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong>@Html.DisplayFor(modelItem => item.AirportId)</strong><br />
                            @Html.DisplayFor(modelItem => item.Name)<br />
                            @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.StateOrProvidence)
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="/Airports/Details/@item.AirportId">@Html.FontAwesome(FontAwesomeIconSet.InfoCircle)</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>