@model TafelFlyingServices.Models.Aircraft

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length) m
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wingspan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wingspan) m 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height) m
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.AircraftId}) |
    @Html.ActionLink("Back to List", "Index")
</p>